.search {
    height: 20px !important;
    padding-left: 40px;
    padding-right: 40px;
}

.search-job {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.main-content {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.center-panel{
  background-color: white;
  text-align: left;
  padding: 20px;
}

.job-list {
  padding-top: 20px;
  border-bottom: 1px solid #dee3f1;
  padding-bottom: 20px;
}
.result {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-title {
  font-weight: bold;
}

.filters {
  border-bottom: 1px solid #cdd4ee;
}