.App {
  text-align: centjher;
}

.logo {
  width: 10%;
  float: left;
}

.logo-style {
  padding-left: 40px;
  padding-right: 40px;
}

.App-header {
  background-color: white;
  height: 50px;
  padding: 10px;
  box-shadow: 2px 2px 8px #888888;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


